$primary-color: #aaa;
$secondary-color: #fff;
$bookWidth: 200px;
$bookHeight: 300px;
$coverColor: #3498db;
$backgroundColor: #ecf0f1;
$darktan: #9A8548;
$grad2: #373737;
$grad1: darken($grad2, 2);
$grad3: lighten($darktan, 4);
$grad5: darken($darktan, 4);
$animation-duration: 3s;
$background-color: #3498db; 
$primaryt-color: #ff6347; // 
$secondary-color: #4682b4;
$wave-count: 5;
$shake-distance: 5px;
$color-stop-1: #e97e6b; // Başlangıç rengi
$color-stop-2: #579bd2;
