*{

    margin: 0;

    padding: 0;

    box-sizing: border-box;

}

header{

    width: 100%;

    padding: 20px;

    nav{

      width: 90%;

      margin: auto;

      .navbar-nav{

        width: 80%;

        display: flex;

        justify-content: center;

          li{

            a{

              font-weight: 600;

              font-size: 19px;

              color: #000000 !important;

              line-height: 27.424px;

              font-family: Sora;

              letter-spacing: 0;

              transition: 1s;

              &:hover{

                color:#F65D4E !important ;

                transition: 1s;

              }

            }

          }

       

       

      }

      .sideright{

        width: 20%;

        display: flex;

        justify-content: space-between;

        align-items: center;

        flex-wrap: wrap;

        li{

          a{

            font-weight: 600;

            font-size: 19px;

            color: #000000 !important;

            line-height: 27.424px;

            letter-spacing: 0;

            transition: 1s;

            &:hover{

              color:#F65D4E !important ;

              transition: 1s;

            }

          }

        }

     

      }

    }

  }

 

 

#prodactsAdd {

    width: 100%;

    min-height: 600px;

    display: flex;

    align-items: center;

    justify-content: center;

    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('https://cdn.pixabay.com/photo/2024/01/26/15/21/bookstore-8534134_1280.jpg');

    background-position: center;

    background-size: cover;

    background-attachment: fixed;

    background-repeat: no-repeat;

    .totalitem{

        width: 100%;

        height: 150px;

        display: flex;

        justify-content: center;

        align-items: center;

        border: 7px solid #B14D3F;

        padding: 40px;

        border-radius: 10px;

        transition: transform 0.3s ease;

        margin-top: 30px;

        background-color:#fff;

        &:hover {

          transform: scale(1.1);

          cursor: pointer;

        }

        #icon{

          background-color: #E9F9FD;

          padding: 20px;

          border-radius: 50%;

          i{

            font-size: 30px;

          }

        }

        .text{

          display: flex;

          justify-content: center;

          align-items: center;

          flex-direction: column;

          text-align: center;

          padding: 10px;

          h4{

            font-size: 30px;

            font-weight: 600;

            letter-spacing: 0;

           

          }

         span{

          font-size: 11px;

          color: #999999;

          letter-spacing: 0;

 

         

         }

 

        }

      }

}

    .tableheader{

        width: 100%;

        margin-top: 20px;

        margin-bottom: 20px;

        display: flex;

        justify-content: center;

        align-items: center;

        padding: 20px;

 

        #searchdata {

            width: 100%;

            display: flex;

            justify-content: center;

            align-items: center;

            margin-top: 10px;

            position: relative;

          padding: 20px;

            input {

              width: 250px;

              height: 50px;

              padding: 10px;

              border: 2px solid #999999;

              border-radius: 25px 0 0 25px;

              outline: none;

              font-size: 16px;

              transition: border-color 0.3s;

         

              &::placeholder {

                cursor: pointer;

                color: #aaa;

                transition: transform 0.5s ease;

                transform: translateY(0);

              }

         

              &:focus::placeholder,

              &:hover::placeholder {

                transform: translateY(-10px);

              }

            }

         

            input:focus {

              border-color: #999999;

            }

         

            input:not(:focus)::placeholder {

              transform: translateY(0);

            }

         

            button {

              width: 90px;

              height: 50px;

              border: none;

              padding: 10px;

              border-radius: 0 25px 25px 0;

              background-color: rgba(223, 61, 61, 0.56);

              color: #fff;

              font-size: 16px;

              cursor: pointer;

              transition: background-color 0.3s, transform 0.2s ease;

            }

         

            button:hover {

              background-color: rgba(150, 8, 8, 0.56);

              transform: scale(1.05);

            }

          }

          .dropdown {

            width: 100%;

            display: flex;

            justify-content: center;

            align-items: center;

            padding: 20px;

            margin-top: 20px;

           

            a{

                background-color:#B14D3F;

                border: none;

                width: 50%;

                height: 45px;

                color: #fff;

                font-size: 20px;

                font-family: Monsella;

                font-weight: 600;

            }

            .droptown-menu{

                width: 100%;

                display: flex;

                height: auto;

                flex-direction: column;

            }

          }

              }

   

    .tablediv{

        width: 100%;

        height: auto;

        display: flex;

        justify-content: center;

        align-items: center;

        padding: 20px;

        img{

            backdrop-filter: blur(20px);

            padding: 20px;

            max-width: 100%;

            height: auto;

            border: 4px solid #B14D3F;

            border-radius: 10px;

            box-shadow: #B14D3F -5px 5px, #B14D3F -10px 10px, #B14D3F -15px 15px, #B14D3F -20px 20px, #B14D3F -25px 25px;

        }

        #Myform{
           
            width: 100%;
            height:auto ;
            display: flex;
            border: 4px solid #B14D3F;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            backdrop-filter: blur(10px);
            padding: 20px;
            border-radius: 10px;
            box-shadow: #B14D3F 5px 5px, #B14D3F 10px 10px, #B14D3F 15px 15px, #B14D3F 20px 20px, #B14D3F 25px 25px;
            }
        }
    
    #tttt {
        width: 100%;
        height: 40px;
        margin-top: 20px;
        font-family: Assistant;
        font-weight: 800;
        box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;        th {
            font-size: 17px;
            border: 2px solid rgb(9, 8, 8);
            text-align: center;
        }

        #tableDiv {
            width: 100%;
            border: 2px solid rgb(9, 8, 8);
            margin-top: 20px;
            padding-top: 20px;
            font-family: Assistant;
            color: #7A4D9E;

            .myBox {
                width: 100%;
                min-height: 130px;
                border: 2px solid rgb(9, 8, 8);

                td {
                    width: 20%;
                    min-height: 130px;
                    border: 2px solid rgb(9, 8, 8);
                    text-align: center;

                    img {
                        padding: 10px;
                        width: 80px;
                        height: auto;
                        border-radius: 10px;
                    }
                    p{
                        font-size: 15px;
                        color: rgb(9, 8, 8);
                    }
                    button {
                        margin: 3px;
                         width: 20px;
                        min-height: 30px;
                        border: none;
                        background-color: red;
                        color: white;
                        border-radius: 5px;

                        &:hover {
                            background-color: white;
                            border: 2px solid #7A4D9E;
                            color: #7A4D9E;
                            transform: scale(1.05);
                        }
                    }
                }
               
           
        }
    }

    @media screen and (max-width: 280px) {
        #prodactsAdd {
            width: 60%;
            min-height: 600px;
            display: flex;
            align-items: center;
            justify-content: center;
            .tableheader{
                width: 60%;
                margin-top: 20px;
                margin-bottom: 20px;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 20px;
                #searchdata {
                    margin: 20px;
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;}
            }
        
        #tttt {
            width: 70%;
            #tableDiv {
                width: 70%;
                .myBox {
                    
                    img {
                        width: 10px;
                        height: 10px;
                        border-radius: 10px;
                    }
                    button {
                        margin: 10px;
                        width: 20px;
                        min-height: 30px;
                        border: none;
                        background-color:#B14D3F;
                        color: white;
                        border-radius: 5px;

                        &:hover {
                            background-color: white;
                            border: 2px solid #7A4D9E;
                            color: #7A4D9E;
                            transform: scale(1.05);
                        }
                    }
                }
            }
        }
    }
}}

a,
  a:hover,
  a:focus,
  a:active {
      text-decoration: none;
      outline: none;
  }
  
  a,
  a:active,
  a:focus {
      color: #6f6f6f;
      text-decoration: none;
      transition-timing-function: ease-in-out;
      -ms-transition-timing-function: ease-in-out;
      -moz-transition-timing-function: ease-in-out;
      -webkit-transition-timing-function: ease-in-out;
      -o-transition-timing-function: ease-in-out;
      transition-duration: .2s;
      -ms-transition-duration: .2s;
      -moz-transition-duration: .2s;
      -webkit-transition-duration: .2s;
      -o-transition-duration: .2s;
  }
  
  ul {
      margin: 0;
      padding: 0;
      list-style: none;
  }
  
  img {
      max-width: 100%;
      height: auto;
  }
  
  section {
      padding: 60px 0;
      min-height: 100vh;
  }
  
  .footer {
      padding: 100px 0px 0px;
      background-color: #030a16;
  
      .widget1 {
          p {
              font-size: 16px;
              color: rgba(255, 255, 255, .6);
              margin-top: 26px;
          }
  
          .socialLinks {
              margin-top: 28px;
  
              ul li {
                  display: inline-block;
  
                  a i {
                      display: block;
                      margin: 0 2px;
                      width: 40px;
                      height: 40px;
                      background: #fafafa;
                      border-radius: 50%;
                      text-align: center;
                      margin-right: 5px;
                      line-height: 40px;
                      transition: all 0.3s ease-in-out;
  
                      &.fa-facebook-f {
                          color: #4267b2;
                      }
  
                      &.fa-twitter {
                          color: #1da1f2;
                      }
  
                      &.fa-google-plus-g {
                          color: #dd5044;
                      }
  
                      &.fa-linkedin-in {
                          color: #0177b5;
                      }
  
                      &:hover {
                          color: #fff;
  
                          &.fa-facebook-f {
                              background: #4267b2;
                          }
  
                          &.fa-twitter {
                              background: #1da1f2;
                          }
  
                          &.fa-google-plus-g {
                              background: #dd5044;
                          }
  
                          &.fa-linkedin-in {
                              background: #0177b5;
                          }
                      }
                  }
              }
          }
      }
  
      .logo {
          max-width: 200px;
      }
  
      h5 {
          font-weight: 500;
          margin-bottom: 28px;
          text-transform: capitalize;
          font-weight: 600;
          color: #fff;
          font-size: 21px;
      }
  
      .widget2 {
        display: flex;
            justify-content: center;
            flex-wrap: wrap;
          .media {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
              img {
                  margin-right: 20px;
                  max-width: 100px;
              }
  
              p {
                  font-size: 16px;
                  color: rgba(255, 255, 255, .8);
                  transition: all .3s ease-in-out;
                  font-weight: 600;
                  line-height: 26px;
              }
  
              span {
                  font-size: 12px;
                  color:#F65D4E;
                  text-transform: uppercase;
                  margin-top: 15px;
                  display: block;
              }
  
              margin-bottom: 20px;
          }
      }
  
      .widget3,
      .widget4 {
          ul li a {
              font-size: 16px;
              color: rgba(255, 255, 255, .6);
              text-transform: capitalize;
              margin-bottom: 13px;
              display: block;
  
              &:hover {
                  color:#F65D4E;
              }
          }
  
          h5 {
              margin-bottom: 22px;
              font-weight: 600;
              color: #fff;
              font-size: 21px;
              line-height: 32px;
          }
      }
  
      .widget4 {
          h5 {
              margin-bottom: 22px;
              font-weight: 600;
              color: #fff;
              font-size: 21px;
          }
      }
  
      .copyRightArea {
          margin-top: 83px;
          border-top: 1px solid rgba(255, 255, 255, 0.2);
          padding: 25px 0px 28px;
  
          p {
              color: rgba(255, 255, 255, 0.6);
          }
      }
  }
  @media screen and (max-width:600px) {
    .footer{
      .container{
        .widget2{
          .media{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
          }
        }
      }
    }
  }
