*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    width: 100%;
    padding: 20px;
    nav{
      width: 90%;
      margin: auto;
      .navbar-nav{
        width: 80%;
        display: flex;
        justify-content: center;
          li{
            a{
              font-weight: 600;
              font-size: 19px;
              color: #000000 !important;
              line-height: 27.424px;
              font-family: Sora;
              letter-spacing: 0;
              transition: 1s;
              &:hover{
                color:#F65D4E !important ;
                transition: 1s;
              }
            }
          }
        
       
      }
      .sideright{
        width: 20%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        li{
          a{
            font-weight: 600;
            font-size: 19px;
            color: #000000 !important;
            line-height: 27.424px;
            letter-spacing: 0;
            transition: 1s;
            &:hover{
              color:#F65D4E !important ;
              transition: 1s;
            }
          }
        }
      
      }
    }
  }

  #authordetail {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    
    .container {
      margin-top: 20px;
      margin-bottom: 20px;
      
      .authordetailheader {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        margin-bottom: 20px;
        
        h1 {
          font-size: 40px;
          font-family: Sora;
          font-weight: 700;
          animation: fadeInUp 1s ease; // Ek animasyon
        }
      }
      
      #authorprodetail {
        width: 100%;
        height: auto;
        margin-top: 20px;
        margin-bottom: 20px;
        
        .boxDiv {
          display: flex;
          justify-content: center;
          border-radius: 80px 0 80px 0;
          padding: 20px;
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center;
          box-shadow: rgba(223, 61, 61, 0.56) 0px 50px 100px -20px, rgba(223, 61, 61, 0.56) 0px 30px 60px -30px, rgba(223, 61, 61, 0.56) 0px -2px 6px 0px inset;
          animation: slideInBottom 1s ease; // Ek animasyon
          
          .images {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 20px;
            margin-top: 20px;
            
            img {
              max-width: 100%;
              height: auto;
              border-radius: 25px;
              animation: fadeIn 1s ease; // Ek animasyon
            }
          }
          
          .textDiv {
            width: 100%;
            display: flex;
            justify-content: center;
            flex-direction: column;
            border-radius: 20px;
            padding: 20px;
            margin-top: 20px;
            margin-bottom: 20px;
            animation: slideInLeft 1s ease; // Ek animasyon
            
            h5 {
              font-size: 25px;
              font-family: Sora;
              font-weight: 600;
              font-style: italic;
              color: #999999;


              strong {
                color: rgba(200, 12, 12, 0.56);
              }
            }
            
            .title {
              font-size: 20px;
              font-family: Sora;
              font-style: italic;
              font-weight: 700;
              color: #999999;
              
              strong {
                color: rgba(200, 12, 12, 0.56);
              }
            }
            
            .description {
              font-size: 17px;
              font-family: Sora;
              font-style: italic;
              font-weight: 600;
              color: #999999;
              
              strong {
                font-size: 19px;
                color: rgba(200, 12, 12, 0.56);
              }
            }
            
            a {
              button {
                border: none;
                color: rgba(223, 61, 61, 0.56);
                font-weight: 700;
                font-style: italic;
                padding: 5px;
                border: none;
                background-color: transparent;
                
                &:hover {
                  color: rgba(150, 8, 8, 0.56);
                  animation: shake 0.5s; // Ek animasyon
                }
                
                i {
                  font-size: 15px;
                }
              }
            }
          }
        
         
        }
      }
    }
  }
  
  // Animasyonlar
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes slideInBottom {
    from {
      transform: translateY(100%);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  @keyframes slideInLeft {
    from {
      transform: translateX(-100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  @keyframes fadeInUp {
    from {
      transform: translateY(50px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  @keyframes shake {
    0% {
      transform: translateX(0);
    }
    25% {
      transform: translateX(-5px);
    }
    50% {
      transform: translateX(5px);
    }
    75% {
      transform: translateX(-5px);
    }
    100% {
      transform: translateX(0);
    }
  }
  
//   background: linear-gradient(45deg, #b83f4f, #aa4853, #ce9098);
        //   background-size: 200% 200%;
        //   animation: wave 3s ease infinite;
// @keyframes wave {
//     0% {
//       background-position: 0% 50%;
//     }
//     50% {
//       background-position: 100% 50%;
//     }
//     100% {
//       background-position: 0% 50%;
//     }
//   }

#authorsdetails{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    .container{
      margin-top: 20px;
      margin-bottom: 20px;
      .authorsdetailsheader{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        margin-bottom: 20px;
        h1{
            font-size: 30px;
            font-weight: 700;
            font-family: Sora;
            letter-spacing: 0;
          }
      }
      
   #authorsdetailsitem{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    .proDiv {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 10px;
        padding: 20px;
        border-radius: 10px;
        box-shadow: rgba(226, 102, 102, 0.56) 0px 22px 70px 4px;
        background-color: #f0f0f0;
        cursor: pointer; 
        &:hover {
          animation: shake 0.8s ease infinite; 
      }
        @mixin random-dots($count, $size, $color) {
            position: relative;
            &:before {
                content: '';
                position: absolute;
                top: random(100%) * 1%;
                left: random(100%) * 1%;
                width: $size;
                height: $size;
                border-radius: 50%;
                background-color: $color;
                transform: translate(-50%, -50%);
            }
        }

        &::after {
            @include random-dots(20, 3px, rgba(12, 12, 12, 0.1)); 
        }

        img {
            max-width: 100%;
            height: auto;
            border-radius: 50%;
        }

        .textDiv {
            margin-top: 10px;
            margin-bottom: 10px;
            text-align: center;
            h5{
              font-family: Sora;
              font-weight: 700;
              font-style: italic;
              font-size: 20px;
            }
            p{
              font-size: 15px;
              font-style: italic;
              color: #484646;
            }
          
        }
        a{
          button{
              border: none;
              color:rgba(223, 61, 61, 0.56) ;
              font-weight: 700;
              font-style: italic;
              padding: 5px;
              border: none;
              &:hover{
                color:rgba(150, 8, 8, 0.56) ;
              }
              i{
                font-size: 15px;
              }
          }
        }
    }
}
.btnn{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    #pagi{
        width: 160px;
        height: 50px;
        border: none;
        background-color: transparent;

        color:rgba(200, 12, 12, 0.56); 
        font-weight: 700;
        font-style: italic;
        border-radius:20px;
        &:hover{
            color:rgba(200, 12, 12, 0.56);
            animation: shake 0.5s; 
            border: none;
        }
    }
  }
}

}
@keyframes shake {
  0% { transform: translateX(-2px); }
  50% { transform: translateX(2px); }
  100% { transform: translateX(-2px); }
}

      
  a,
  a:hover,
  a:focus,
  a:active {
      text-decoration: none;
      outline: none;
  }
  
  a,
  a:active,
  a:focus {
      color: #6f6f6f;
      text-decoration: none;
      transition-timing-function: ease-in-out;
      -ms-transition-timing-function: ease-in-out;
      -moz-transition-timing-function: ease-in-out;
      -webkit-transition-timing-function: ease-in-out;
      -o-transition-timing-function: ease-in-out;
      transition-duration: .2s;
      -ms-transition-duration: .2s;
      -moz-transition-duration: .2s;
      -webkit-transition-duration: .2s;
      -o-transition-duration: .2s;
  }
  
  ul {
      margin: 0;
      padding: 0;
      list-style: none;
  }
  
  img {
      max-width: 100%;
      height: auto;
  }
  
  section {
      padding: 60px 0;
      min-height: 100vh;
  }
  
  .footer {
      padding: 100px 0px 0px;
      background-color: #030a16;
  
      .widget1 {
          p {
              font-size: 16px;
              color: rgba(255, 255, 255, .6);
              margin-top: 26px;
          }
  
          .socialLinks {
              margin-top: 28px;
  
              ul li {
                  display: inline-block;
  
                  a i {
                      display: block;
                      margin: 0 2px;
                      width: 40px;
                      height: 40px;
                      background: #fafafa;
                      border-radius: 50%;
                      text-align: center;
                      margin-right: 5px;
                      line-height: 40px;
                      transition: all 0.3s ease-in-out;
  
                      &.fa-facebook-f {
                          color: #4267b2;
                      }
  
                      &.fa-twitter {
                          color: #1da1f2;
                      }
  
                      &.fa-google-plus-g {
                          color: #dd5044;
                      }
  
                      &.fa-linkedin-in {
                          color: #0177b5;
                      }
  
                      &:hover {
                          color: #fff;
  
                          &.fa-facebook-f {
                              background: #4267b2;
                          }
  
                          &.fa-twitter {
                              background: #1da1f2;
                          }
  
                          &.fa-google-plus-g {
                              background: #dd5044;
                          }
  
                          &.fa-linkedin-in {
                              background: #0177b5;
                          }
                      }
                  }
              }
          }
      }
  
      .logo {
          max-width: 200px;
      }
  
      h5 {
          font-weight: 500;
          margin-bottom: 28px;
          text-transform: capitalize;
          font-weight: 600;
          color: #fff;
          font-size: 21px;
      }
  
      .widget2 {
        display: flex;
            justify-content: center;
            flex-wrap: wrap;
          .media {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
              img {
                  margin-right: 20px;
                  max-width: 100px;
              }
  
              p {
                  font-size: 16px;
                  color: rgba(255, 255, 255, .8);
                  transition: all .3s ease-in-out;
                  font-weight: 600;
                  line-height: 26px;
              }
  
              span {
                  font-size: 12px;
                  color:#F65D4E;
                  text-transform: uppercase;
                  margin-top: 15px;
                  display: block;
              }
  
              margin-bottom: 20px;
          }
      }
  
      .widget3,
      .widget4 {
          ul li a {
              font-size: 16px;
              color: rgba(255, 255, 255, .6);
              text-transform: capitalize;
              margin-bottom: 13px;
              display: block;
  
              &:hover {
                  color:#F65D4E;
              }
          }
  
          h5 {
              margin-bottom: 22px;
              font-weight: 600;
              color: #fff;
              font-size: 21px;
              line-height: 32px;
          }
      }
  
      .widget4 {
          h5 {
              margin-bottom: 22px;
              font-weight: 600;
              color: #fff;
              font-size: 21px;
          }
      }
  
      .copyRightArea {
          margin-top: 83px;
          border-top: 1px solid rgba(255, 255, 255, 0.2);
          padding: 25px 0px 28px;
  
          p {
              color: rgba(255, 255, 255, 0.6);
          }
      }
  }
  @media screen and (max-width:600px) {
    .footer{
      .container{
        .widget2{
          .media{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
          }
        }
      }
    }
  }