*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    width: 100%;
    padding: 20px;
    nav{
      width: 90%;
      margin: auto;
      .navbar-nav{
        width: 80%;
        display: flex;
        justify-content: center;
          li{
            a{
              font-weight: 600;
              font-size: 19px;
              color: #000000 !important;
              line-height: 27.424px;
              font-family: Sora;
              letter-spacing: 0;
              transition: 1s;
              &:hover{
                color:#F65D4E !important ;
                transition: 1s;
              }
            }
          }
        
       
      }
      .sideright{
        width: 20%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        li{
          a{
            font-weight: 600;
            font-size: 19px;
            color: #000000 !important;
            line-height: 27.424px;
            letter-spacing: 0;
            transition: 1s;
            &:hover{
              color:#F65D4E !important ;
              transition: 1s;
            }
          }
        }
      
      }
    }
  }
 #myblog{
    width: 100%;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('https://images.pexels.com/photos/877971/pexels-photo-877971.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    .container{
        margin-top: 20px;
        margin-bottom: 20px;
        .myblogitem{
            display: flex;
            justify-content: center;
            align-items: center; 
            h1{
                font-family: Marcellus;
                color: #fff;
                font-weight: 700;
            } 
        }
    }
 }
  #blogdetal{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    box-shadow: #5D352B 0px -23px 25px 0px inset, #5D352B 0px -36px 30px 0px inset, #5D352B 0px -79px 40px 0px inset, #5D352B 0px 2px 1px, #5D352B 0px 4px 2px, #5D352B 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;    background-color: rgba(255, 255, 255, 0.8); /* Parlak beyaz, %80 opaklık */
    animation: gradientAnimation 10s ease infinite;
    .container{
        margin-top: 20px;
        margin-bottom: 20px;
        
        .message{
            width: 100%;
            height: auto;
            display: flex;
            justify-content: flex-start;
            margin-top: 20px;
            margin-bottom: 20px;
            flex-direction: column;
            #chat-window{
                width: 100%;
                height: auto;
                margin-top: 20px;
                margin-bottom: 20px;
                
            }
             .comment{
                width: 100%;
                height: auto;
                justify-content: center;
                padding: 10px;
                .one{
                    width: 100%;
                    height: auto;
                    display: flex;
                    flex-direction: column;
                    padding: 10px;
                    strong{
                        font-size: 25px;
                        font-family: Marcellus;
                        font-style: italic;
                        color: #5D352B;
                    }
                    span{
                        font-size: 19px;
                        font-weight: 400;
                        font-family: Marcellus;

                    }
                    p{
                        font-size: 19px;
                        font-family: Marcellus;
                        font-style: italic;
                        border: 1px solid #5D352B;
                        padding: 20px;
                        border-radius: 10px;
                        margin-top: 20px;
                        margin-bottom: 20px;


                    }
                }
                .three{
                    width: 250px;
                    height:auto ;
                    display: flex;
                    justify-content: space-between;
                    button{
                        margin-left: 5px;
                        border: none;
                        background-color: transparent;
                        font-style: italic;
                        font-weight: 500;
                    }
                   
                }
                .two{
                    width: 30px;
                    display: flex;
                    justify-content: space-between;
                    margin: 10px;
                    .likes{
                        border: none;
                        background-color: transparent;
                        font-style: italic;
                        &:hover{
                        color: #dd5044;
                        }
                    }
                    .like{
                        margin-top: 15px;
                        font-style: italic;
                    }
                }
               
             }
             .reply{
                width: 100%;
                height: auto;
                display: flex;
                flex-wrap: wrap;
                padding: 10px;
                .one{
                    width: 100%;
                    height: auto;
                    display: flex;
                    flex-direction: column;
                    padding: 10px;
                    strong{
                        font-size: 25px;
                        font-family: Marcellus;
                        font-style: italic;
                        color: #5D352B;
                    }
                    span{
                        font-size: 19px;
                        font-weight: 400;
                        font-family: Marcellus;

                    }
                    p{
                        font-size: 19px;
                        font-family: Marcellus;
                        font-style: italic;
                        border: 1px solid #5D352B;
                        padding: 20px;
                        border-radius: 10px;
                        margin-top: 20px;
                        margin-bottom: 20px;


                    }
                }
                .threee{
                    width: 250px;
                    height:auto ;
                    display: flex;
                    justify-content: space-between;
                    button{
                        margin-left: 5px;
                        border: none;
                        background-color: transparent;
                        font-style: italic;
                        font-weight: 500;
                    }
                   
                }
                .twoo{
                    width: 30px;
                    display: flex;
                    justify-content: space-between;
                    margin: 10px;
                    .liked{
                        border: none;
                        background-color: transparent;
                        font-style: italic;
                        &:hover{
                        color: #dd5044;
                        }
                    }
                    .likedd{
                        font-style: italic;
                    }
                }
               
            }
            h1{
                margin-top: 20px;
                margin-bottom: 20px;
                font-size: 30px;
                font-family: Marcellus;
                color: #5D352B;
                display: flex;
                justify-content: center;
                align-items: center;
                font-weight: 700;
            }
            #name,#email{
                margin-top:5px;
                margin-bottom: 5px;
                width: 100%;
                height: 60px;
                padding: 5px;
                border: 1px solid #CCCCCC;
            }
            #message{
                width: 100%;
                height: 180px;
                padding: 10px;
                border: 1px solid #CCCCCC;

            }
            #send{
                width: 180px;
                height: 60px;
                background-color: #5D352B;
                color: #fff;
                font-weight: 600;
                font-family: Marcellus;
                font-size: 20px;
                border: none;
                transition: 1s;
                margin-top: 20px;
                &:hover{
                    transition: 1s;
                    background-color: #000000;
                }
            }
        }
        .profiles{
            width: 100%;
            margin: 20px;
            width: 100%;
            height: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 10px;
            padding: 10px;
            border:  1px solid #5D352B;
            box-shadow: #5D352B 0px 30px 90px;               

        
        .profile{
            width: 100%;
            margin-top: 20px;
            margin-bottom: 20px;
            width: 100%;
            height: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 10px;
                     

            img{
                width: 150px;
                height: 150px;
                border-radius: 50%;
            }
          
        }
        .profiledetail{
            margin-top: 10px;
            width: 100%;
            height: auto;
            padding: 15px;
            h3{
                font-size: 25px;
                font-family:Marcellus ;
                font-weight: 600;
                color:#5D352B  ;
                font-style: italic;
            }
            p{
                font-size: 19px;
                font-family:Marcellus ;
                font-style: italic;

            }
           } 
    }
       #blogdetails{
       display: flex;
       justify-content: center;
       flex-direction: column;
       text-align: justify;
       padding: 20px;
       margin-top: 20px;
        margin-bottom: 20px;

        .boxDiv{
            display: flex;
            justify-content: center;
            margin-top: 20px;
            margin-bottom: 20px;
            .images{
                width: 100%;
                height: auto;
                justify-content: center;
                align-items: center;
                img{
                    max-width: 100%;
                    height: auto;
                   }
            }
            .textDiv{
                margin-top: 20px;
                margin-bottom: 20px;
                width: 100%;
                height: auto;
                justify-content: center;
                align-items: center;
                h5{
                    margin-top: 20px;
                    margin-bottom: 20px;
                    font-size: 25px;
                    font-family: Marcellus;
                    letter-spacing: 0;
                    font-weight: 600;
                }
                .title{
                    font-size: 20px;
                    font-weight: 600;
                    font-family: Marcellus;
                    color: #ae8760;
                    font-style: italic;
                }
                .description{
                    font-size: 21px;
                    font-weight: 300;
                    font-family: Marcellus;
                    font-style: italic;

                }
                a{
                    button{
                        border: none;
                        background-color: transparent;
                        color: #5D352B;
                        font-weight: 600;
                        font-style: italic;
                        &:hover{
                            color: #000000;
                            animation: shake 0.5s; // Ek animasyon
                        }
                    }
                }
               
            }
            
              
            
        }
       
       }
       
       #problog{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
        flex-direction: column;
        margin-top: 20px;
        margin-bottom: 20px;
        .boxDiv{
            width: 100%;
            height: auto;
            display: flex;
            justify-content: center;
            flex-direction: column;
            text-align: justify;
            margin: 20px;
            padding: 20px;
            background-color: #5D352B;
            border-radius: 10px;
            box-shadow: #5D352B 0px 30px 90px;               
              .proDiv{
                width: 100%;
                height: auto;
                display: flex;
                justify-content: center;
                flex-direction: column;
                img{
                border-radius: 10px;
                max-width: 100%;
                }
                .textDiv{
                    margin-top: 20px;
                    margin-bottom: 20px;
                    h5{
                        font-size: 20px;
                        font-family: Marcellus;
                        letter-spacing: 0;
                        font-weight: 600;
                        color: #cbc6c6;
                        font-style: italic;
                    }
                    p{
                        font-size: 16px;
                        font-family: Marcellus;
                        font-weight: 600;
                        color: #fafafa;
                        font-style: italic;
                    }
                   
                }
                .btnDiv{
                    a{
                        button{
                            border: none;
                            background-color: transparent;
                            color: #cbc6c6;
                            font-weight: 600;
                            font-style: italic;
                            &:hover{
                                color: #000000;
                                animation: shake 0.5s; // Ek animasyon
                            }
                        }
                    }
                   
                }
            }
        }
       }
    }
  }
  @keyframes shake {
    0% {
      transform: translateX(0);
    }
    25% {
      transform: translateX(-5px);
    }
    50% {
      transform: translateX(5px);
    }
    75% {
      transform: translateX(-5px);
    }
    100% {
      transform: translateX(0);
    }
  }
  @keyframes gradientAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
  }
  a,
  a:hover,
  a:focus,
  a:active {
      text-decoration: none;
      outline: none;
  }
  
  a,
  a:active,
  a:focus {
      color: #6f6f6f;
      text-decoration: none;
      transition-timing-function: ease-in-out;
      -ms-transition-timing-function: ease-in-out;
      -moz-transition-timing-function: ease-in-out;
      -webkit-transition-timing-function: ease-in-out;
      -o-transition-timing-function: ease-in-out;
      transition-duration: .2s;
      -ms-transition-duration: .2s;
      -moz-transition-duration: .2s;
      -webkit-transition-duration: .2s;
      -o-transition-duration: .2s;
  }
  
  ul {
      margin: 0;
      padding: 0;
      list-style: none;
  }
  
  img {
      max-width: 100%;
      height: auto;
  }
  
  section {
      padding: 60px 0;
      min-height: 100vh;
  }
  
  .footer {
      padding: 100px 0px 0px;
      background-color: #030a16;
  
      .widget1 {
          p {
              font-size: 16px;
              color: rgba(255, 255, 255, .6);
              margin-top: 26px;
          }
  
          .socialLinks {
              margin-top: 28px;
  
              ul li {
                  display: inline-block;
  
                  a i {
                      display: block;
                      margin: 0 2px;
                      width: 40px;
                      height: 40px;
                      background: #fafafa;
                      border-radius: 50%;
                      text-align: center;
                      margin-right: 5px;
                      line-height: 40px;
                      transition: all 0.3s ease-in-out;
  
                      &.fa-facebook-f {
                          color: #4267b2;
                      }
  
                      &.fa-twitter {
                          color: #1da1f2;
                      }
  
                      &.fa-google-plus-g {
                          color: #dd5044;
                      }
  
                      &.fa-linkedin-in {
                          color: #0177b5;
                      }
  
                      &:hover {
                          color: #fff;
  
                          &.fa-facebook-f {
                              background: #4267b2;
                          }
  
                          &.fa-twitter {
                              background: #1da1f2;
                          }
  
                          &.fa-google-plus-g {
                              background: #dd5044;
                          }
  
                          &.fa-linkedin-in {
                              background: #0177b5;
                          }
                      }
                  }
              }
          }
      }
  
      .logo {
          max-width: 200px;
      }
  
      h5 {
          font-weight: 500;
          margin-bottom: 28px;
          text-transform: capitalize;
          font-weight: 600;
          color: #fff;
          font-size: 21px;
      }
  
      .widget2 {
        display: flex;
            justify-content: center;
            flex-wrap: wrap;
          .media {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
              img {
                  margin-right: 20px;
                  max-width: 100px;
              }
  
              p {
                  font-size: 16px;
                  color: rgba(255, 255, 255, .8);
                  transition: all .3s ease-in-out;
                  font-weight: 600;
                  line-height: 26px;
              }
  
              span {
                  font-size: 12px;
                  color:#F65D4E;
                  text-transform: uppercase;
                  margin-top: 15px;
                  display: block;
              }
  
              margin-bottom: 20px;
          }
      }
  
      .widget3,
      .widget4 {
          ul li a {
              font-size: 16px;
              color: rgba(255, 255, 255, .6);
              text-transform: capitalize;
              margin-bottom: 13px;
              display: block;
  
              &:hover {
                  color:#F65D4E;
              }
          }
  
          h5 {
              margin-bottom: 22px;
              font-weight: 600;
              color: #fff;
              font-size: 21px;
              line-height: 32px;
          }
      }
  
      .widget4 {
          h5 {
              margin-bottom: 22px;
              font-weight: 600;
              color: #fff;
              font-size: 21px;
          }
      }
  
      .copyRightArea {
          margin-top: 83px;
          border-top: 1px solid rgba(255, 255, 255, 0.2);
          padding: 25px 0px 28px;
  
          p {
              color: rgba(255, 255, 255, 0.6);
          }
      }
  }
  @media screen and (max-width:600px) {
    .footer{
      .container{
        .widget2{
          .media{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
          }
        }
      }
    }
  }